.listItems .btn, input {
    line-height: 2em;
    border-radius: 3px;
    border: 0;
    display: inline-block;
    margin: 10px 0;
    padding: 0.2em 1em;
    font-size: 1em;
}

.listItems input[type='text'] {
    border: 1px solid #ddd; 
    min-width: 100%;
}

.listItems input:focus {
    outline: none;
    border: 1px solid #a3b1ff;
}

.listItems .btn {
    text-align: center;
    font-weight: bold; 
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

.listItems ul {
    list-style: none;
    padding: 0;
}

.listItems .li-list {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    background-color: #dee2eb;
    transition: 0.3s;
}

.listItems .li-list:hover {
    background-color: #cdcdcd;
    border-radius: 5px;
}

.listItems .text {
    padding: 0.65em 0.7em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
}