body {
  background-color: #f2f7fb !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
  text-decoration: line-through;
}

.pcoded-content {
  padding: 10px;
}

.page-wrapper {
  padding: .6rem 2.0rem;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  border: none;
  margin-bottom: 0px;
  transition: all .3s ease-in-out;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 100% !important;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card .card-block {
  padding: 1.25rem;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
  margin-bottom: 0;
}

.card .card-header h5:after {
  content: "";
  background-color: #d2d2d2;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.1;
  position: relative;
}

.card-header-right {
  right: 1.25rem;
  top: 0px;
  display: inline-block;
  position: absolute;
  float: right;
  padding: 7px 0;
}

.card-header-right-text {
  right: 1.25rem;
  top: 7px;
  display: inline-block;
  position: absolute;
  float: right;
  padding: 7px 0;
  color: #7e7e7e;
  font-size: 0.8em;
  text-align: right;
}

.caption-text {
  padding: 0px 0;
  color: #7e7e7e;
  font-size: 0.7em;
  left: 1.25rem;
  top: 41px;
  position: absolute;
}

.currentState {
  color: #fff;
  font-size: 1.2em;
  right: 3.0rem;
  top: 0px;
  position: absolute;
}

.currentState button {
  line-height: 1.5em;
  border-radius: 10px;
  margin-left: 10px;
}

.card-header-left-text {
  left: 1.25rem;
  top: 7px;
  display: inline-block;
  position: absolute;
  float: left;
  padding: 7px 0;
  font-size: 0.8em;
  text-align: left;
}

.buttons-group {
  margin-top: 1rem;
}

.buttons-group > input {
  width: 40%;
}

.li-missions:hover {
  background-color: #cdcdcd;
  cursor: pointer;
}

.selected {
  background-color: #cdcdcd;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-r-0 {
  padding-right: 0;
}

.p-l-5 {
  padding-left: 5px;
}

.m-b-0 {
  margin-bottom: 0;
}

.card .card-block p {
  line-height: 1.4;
}

.b-info {
  border: 1px solid #4099ff;
}

.b-success{
  border:1px solid #2ed8b6;
}

.b-default{
  border:1px solid #d6d6d6;
}

.b-warning{
  border:1px solid #ffb64d;
}

.b-error{
  border:1px solid #37474f;
}

.b-primary{
  border:1px solid #00bcd4;
}

.b-critical{
  border:1px solid #ff5370;
}

.t-info {
  color: #4099ff;
}

.t-success{
  color: #2ed8b6;
}

.t-default{
  color: #d6d6d6;
}

.t-warning{
  color: #ffb64d;
}

.t-error{
  color: #37474f;
}

.t-primary{
  color: #00bcd4;
}

.t-critical{
  color: #ff5370;
}

.latest-update-card .card-block{
  padding-top:0;
}

.latest-update-card .card-block .latest-update-box{
  position:relative;
}

.latest-update-card .card-block .latest-update-box:after{
  content:"";
  position:absolute;
  background:#ebebeb;
  height:100%;
  width:3px;
  top:0;
  left:19px;
  z-index:1;
}

.latest-update-card .card-block .latest-update-box .update-meta{
  z-index:2;
}

.latest-update-card .card-block .latest-update-box .update-meta .update-icon{
  width:30px;
  height:30px;
  border-radius:50%;
  text-align:center;
  padding:7px 8px;
  font-size:16px;
  color:#fff;
}

.latest-update-card .card-block .latest-update-box .update-meta .update-icon.ring{
  border-width:3.5px;
  width:17px;
  height:17px;
  padding:0;
  display:block;
  margin-left: 12px;
  margin-top: 5px;
  background:#fff;
}

.latest-update-card .card-block .latest-update-box .update-meta i.update-icon{
  margin-left:4px;
  margin-right:19px;
}

.latest-update-card .card-block .latest-update-box .update-meta img.update-icon{
  padding:0;
  width:40px;
  height:40px
}@media only screen and (max-width:575px){
  .latest-update-card .card-block .latest-update-box:after{
    display:none;
  }

  .latest-update-card .card-block .latest-update-box .update-meta{
    z-index:2;
    min-width:100%;
    text-align:left!important;
    margin-bottom:15px;
    border-top:1px solid #f1f1f1;
    padding-top:15px;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.crontabs .crontabs-page{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
}

.crontabs .crontabs-page input[type="checkbox"], input[type="radio"] {
	border: medium none;
	height: auto;
	line-height: normal;
  margin: 6px 8px 8px 0px!important;
  vertical-align: middle;
	padding: 0;
	width: auto;
}

.cron-option .form-control-sm {
  margin: 0px 5px 0px 5px;
  font-size: .775rem;
  padding: .25rem .3rem;
}

.cron-option .cron-select-group {
  padding: 5px 30px 10px 30px;
}

.cron-option .cron-select-group input[type="checkbox"] {
  margin: 4px 5px 5px 5px!important;
  vertical-align: middle;
}

.crontabs .crontabs-page .cron-option select {
  vertical-align: middle;
}

.checkbox-group label{
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid rgba(139, 139, 139, .3);
  color: #8b8b8b;
  border-radius: 5px;
  white-space: nowrap;
  margin: 2px 2px;
  user-select: none;
}

.checkbox-group label {
  padding: 5px 9px;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"]:checked + label {
  border: 1px solid #006ce0;
  background-color: #007bff;
  color: #fff;
}

.checkbox-group input[type="checkbox"] {
  display: absolute;
}

.checkbox-group input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}